<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/style.css'>
    <script src='main.js'></script>
    <link rel="stylesheet" href="estilos css">
    <link href = "https: //fonts.googleapis.com/css2? family = Open + Sans + Condensed: ital, wght @ 1300 & display = swap "rel =" stylesheet ">
</head>
<body>
    <header class="un1">
        <nav>
            <div id="enlacesuno" class="enlacesuno">
                <a href="#">HOME</a>
                <a href="#">PAGINAS WEB</a>
                <a href="#">DISEÑO</a>
            <div></div>
        </nav>
        <div class="container"> 
            <div class="textos">
                <h1>Normas y Estandares de calidad para el desarrollo de Software</h1>
                <p>Disfruta nuestro contenido</p>
                <a href="#">Saber más</a>
            </div>
            <img id="imag1" class="imag1" src="../images/unnamed.png">
        </div>
    </header>
    <div id="wave" class="wave">
        <div style="height: 140px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill:  #faeff0;"></path></svg></div>
    </div>
    <footer>
        <div id="intro" class="intro">
            <h2 id="po0">Introducción</h2>
            <p id="po">Los estándares de calidad de software hacen parte de la <br>
                ingeniería de software, utilización de estándares y metodologías para<br>
                P el diseño, programación, prueba y análisis del software desarrollado, con <br>
                el objetivo de ofrecer una mayor confiabilidad, mantenibilidad en concordancia <br>con los requisitos exigidos, con 
                esto se eleva la productividad y<br> el control en la calidad de software,
                parte de la gestión de la calidad<br> se establecen a mejorar su eficacia y eficiencia.</p>
        </div><br>
        <section>
            <h3>NORMAS ISO/IEC</h3>
            <BR><p id="po2">ISO 12207 – Modelos de Ciclos de Vida del Software.<br>
                Estándar para los procesos de ciclo de vida del software de la organización,
                Este<br>estándar se concibió para aquellos interesados en adquisición de software, así<br>
                como desarrolladores y proveedores. El estándar indica una serie de procesos desde<br>
                la recopilación de requisitos hasta la culminación del software.<br>
                El estándar comprende 17 procesos lo cuales son agrupados en tres categorías:<br>
            
                Principales De apoyo
                De organización
            </p><br>
        <p id="po3">Norma ISO/IEC 9126<br>
            La norma ISO/IEC 9126 de 1991, es la norma para evaluar los productos de software,<br>
            esta norma nos indica las características de la calidad y los lineamientos para su <br>
            uso, las características de calidad y sus métricas asociadas, pueden ser útiles tanto<br>
            como para evaluar el producto como para definir los requerimientos de la calidad y otros usos.<br>
            Esta norma definida por un marco conceptual basado en los factores tales como Calidad del<br> 
            Proceso, Calidad del Producto del Software y Calidad en Uso; según el marco conceptual, la <br>
            calidad del producto, a su vez, contribuye a mejorar la calidad en uso.
        </p><br>

        <p id="po4">Estándar ISO/IEC 14598<br>
            El estándar ISO/IEC 14598 es actualmente usado como base metodológica para<br>
            la evaluación del producto software. En sus diferentes etapas, establece un<br> 
            marco de trabajo para evaluar la calidad de los<br>
            productos de software proporcionando, además, métricas y requisitos para<br>
            los procesos de evaluación de los mismos. La norma define las principales<br>
            características del proceso de evaluación<br>
            *Repetitividad.<br> *Reproducibilidad.<br> *Imparcialidad.<br>
            *Objetividad.<br>

            <br>Para estas características se describen las medidas concretas que participan:<br>

            *Análisis de los requisitos de evaluación.<br> *Evaluación de las especificaciones.<br>
            *Evaluación del diseño y definición del plan de evaluación.<br> *Ejecución del plan 
            de evaluación.<br>
            *Evaluación de la conclusión.
        </p><br>
        <br><p id="po5">El estándar ISO/IEC 14598 define el proceso para evaluar un producto<br> de softwar e, el mismo consta de seis partes:<br>

            ISO/IEC 14598-1 Visión General: provee una visión general de las otras cinco partes<br>
            y explica la relación entre la evaluación del producto software y el modelo de calidad<br>
            definido en la ISO/IEC 9126.<BR>
            <BR>ISO/IEC 14598-2 Planeamiento y Gestión: contiene requisitos y guías para las funciones<br>
            de soporte tales como la planificación y gestión de la evaluación del producto de software.<br>
            <BR>ISO/IEC 14598-3 Proceso para desenvolvedores: provee los requisitos y guías para la<br>
            evaluación del producto software cuando la evaluación es llevada a cabo en paralelo<br>
            con el desarrollo por parte del desarrollador.<br>
            <BR>ISO/IEC 14598-4 Proceso para adquirentes: provee los requisitos y guías para que<br>
            la evaluación del producto software sea llevada a cabo en función a los compradores<br>
            que planean adquirir o reutilizar un producto de software existente o pre- desarrollado.<BR>
            <BR>ISO/IEC 14598-5 Proceso para avaladores: provee los requisitos y guías para la evaluación<br> 
            del producto software cuando la evaluación es llevada a cabo por evaluadores independientes.<BR>
            <BR>ISO/IEC 14598-6 Documentación de Módulos: provee<br> las guías para la documentación del módulo<br>
            de evaluación.
            
        </p> 
        </section><br>
        <div id="spice">
            <h4>SPICE</h4>
            <p id="po6">Es un estándar importante iniciativa internacional para apoyar el desarrollo<br>
                de una Norma Internacional para la Evaluación de Procesos de Software. El proyecto <br>
                tiene tres objetivos principales: Para desarrollar un proyecto de trabajo para un <br>
                estándar para la evaluación de procesos de software. Para llevar a cabo los ensayos<br>
                de la industria de la norma emergente. Para promover la transferencia de tecnología de<br>
                la evaluación de procesos de software en la industria mundial del software a nivel mundial<br>.</p>
        </div><br>
        <div id="cmmi">
            <h7>CMMI</h7>
            <P id="po8">Es un modelo de mejora de los procesos de construcción de software que<br>
                provee los elementos necesarios para determinar su efectividad. Este modelo puede<br>
                ser utilizado como guía para mejorar las actividades de un proyecto, área u<br>
                organización, ya que proporciona un marco de referencia para evaluar la efectividad<br>
                de los procesos actuales, facilitando con ello la definición de actividades, prioridades<br> 
                y metas para garantizar la mejora continua. Es el estándar más conocido para la mejora <br>
                de procesos en mejora de procesos para el desarrollo de proyectos, gestión de proveedores<br>
                y gestión de servicio.<br>
                <br>El CMMI establece cinco niveles de madurez los cuales son: Nivel 0: Incompleto El<br>
                proceso no se realiza, o no se consiguen los objetivos.<br>
                <br>Nivel 1<br>
                Inicial o ejecutando: Este es el nivel en donde todas las empresas que no tienen<br>
                procesos, es donde el proceso se ejecuta y se logra su objetivo, así sea fuera<br>
                de presupuesto y de cronograma.<br>
                <br>Nivel 2 Repetible: Se da cuando el éxito de los resultados obtenidos<br>
                se puede repetir.<br>

                <br>Nivel 3<br>
                Definido: Significa que la forma de desarrollar proyectos está definida, establecida, <br>
                documentada y que existen métricas.<br>

                <br>Nivel 4 Administrado: Los proyectos usan objetivos medibles y cuantificables<br>
                para alcanzar cubrir las necesidades de los clientes y la organización.<br>
                Es decir, se usan métricas para gestionar la organización.<br>
                <br>Nivel 5 Optimizado: Los procesos de los proyectos y de la organización están orientados<br>
                a la mejora de las actividades, que mediante métricas son identificadas, evaluadas<br>
                y puestas en práctica.
                </P>
        </div><br>
        <div id="psp">
            <h9>PSP</h9><br>
            <p id="po10">El proceso personal del software es un método de autoconocimiento, que<br> 
                permite estimar cuánto se tarda un individuo en realizar una aplicación de software, para<br>
                así calcular el presupuesto y asegurar la operatividad de los desarrollos. <br>
                PSP se concentra en las prácticas de trabajo de los ingenieros en una forma individual.</p>
        </div><br>
        <div id="tsp">
            <h11>TSP</h11><br>
            <p id="po11">Team Software Process es un método de establecimiento y mejora del <br>
                trabajo en equipo para procesos de software. Es un proceso para equipos de software, a<br>
                través del cual se contribuye equipos de alto rendimiento, capaces de comprometerse con<br>
                el plan y administración del desarrollo de software, así como de producir<br>
                productos de calidad y a bajo costo, logrando el mejor desempeño posible.</p><br>
        </div><br>
        <div id="moprosoft">
            <h12>Moprosoft</h12><br>
            <p id="po12">Es una norma mexicana, basada en procesos para las industrias de software, la<br>
                cual sirve para estandarizar operaciones y prácticas en gestión de ingeniería<br>
                de software, para así elevar la capacidad de las organizaciones de ofrecer servicios<br> 
                con calidad y alcanzar niveles internacionales de competitividad. Está enfocado<br>
                a las Pymes de la Industria de Software en México. Está dirigido a las<br>
                empresas o áreas internas dedicadas al desarrollo y/o mantenimiento de software</p>
        </div><br>
        <div id="trece">
            <h17>Comentarios</h17><br>
            <BR>Comentario<br>
            <div id="comen"><input type="text" name="Comentario" placeholder="" width="100%"></div>
            <br>Nombre<br>
            <div id="name"><input type="text" name="Nombre" placeholder=""></div>
            <br>We<br>
            <div id="we"><input type="text" name="We" placeholder=""></div>
            <div id="publi"><input type="button" name="publicar comentario" value="publicar comentario"></div>


        </div>
        <div class="nom">
            <h0>@Anyie Daniela Condiza Quintero</h0>
            <p>Estudiante de ADSI 2251848</p>

        </div>
    </footer>  
</body>
</html>